<DOCTYPE! html>
<html>
    <head>
        <title>alpha-blog-about</title>
        <style>
        body{
            padding: 0;
            margin: 0;
        }    
        header {
                float:left;
                background-color: grey;
                margin-left: 5px;
            
            }


        </style>
    <head>
    <body>
        <header> 
            <h1> About Us</h1>
            <h2> its what we are</h2>
        </header>
        <%= link_to 'Home', root_path %>
    <body>
</html>