<DOCTYPE! html>
<html>
    <head>
        <title>alpha-blog-home</title>
    <head>
    <body>
        <header> 
            <h1> Welcome to alpha-blog</h1>
            <h2> You can blog whatever you like</h2>
        </header>
        <%= link_to 'About', about_path %>
    <body>
</html>